<div id="question">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo/LogoSYF.png" alt="SD3-Teame" width="60" height="40" />
    </a>
    <!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul> -->
    <!-- <ul class="navbar-nav ml-auto language">
      <li class="nav-item active">
        <a class="nav-link" (click)="changeLanguage('vn')">
          <img src="../../../assets/img/logo/vn.png" alt="vn" width="50" title="Tiếng Việt">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeLanguage('en')">
          <img src="../../../assets/img/logo/en.png" alt="en" width="50" title="English">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="changeLanguage('zw')">
          <img src="../../../assets/img/logo/tw.png" alt="zw" width="50" title="中文">
        </a>
      </li>
    </ul> -->
  </nav>
  <div class="container" style="padding: 25px 0;">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <router-outlet> </router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>