.title-head {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .remake {
    width: 85%;
    border-color: black !important;
  }
  .font-title {
    text-align: center;
  }
  
  .title-head {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .remake {
    width: 85%;
  }
  .font-title {
    text-align: center;
  }
  
  button {
    margin-right: 5px;
  }
  