<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
        <!--/.col-->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Chart By Monthly
                </div>
                <div class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">From Time</label>
                                <div class="input-group">
                                    <input type="text" placeholder="Start" id="fromDate" class="form-control"
                                        bsDatepicker [(ngModel)]="time_start" name="time_start" [bsConfig]="bsConfig">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary" type="button" disabled><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">To Time</label>
                                <div class="input-group">
                                    <input type="text" placeholder="End" class="form-control" bsDatepicker
                                        [(ngModel)]="time_end" name="time_end" [bsConfig]="bsConfig">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary" type="button" disabled><i
                                                class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">Line</label>
                                <ng-select2 [data]="lineList" [options]="optionsSelectLine"
                                    (valueChanged)="changeLine($event)" [cssImport]=true [disabled]="disable"
                                    [value]="line"></ng-select2>
                            </div>
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">Status</label>
                                <select [(ngModel)]="status" class="form-control">
                                    <option value="All">All</option>
                                    <option value="Ongoing">Ongoing</option>
                                    <option value="Implemented">Implemented</option>
                                    <option value="Not Feasible">Not Feasible</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">Audit Type</label>
                                <ng-select2 [data]="typeList" [options]="optionsSelectType"
                                    (valueChanged)="changedType($event)" [cssImport]=true [disabled]="disable"
                                    [value]="type"></ng-select2>
                            </div>
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">Model No</label>
                                <ng-select2 [data]="modelNoList" [options]="optionsSelectModelNo"
                                    (valueChanged)="changedmodelNo($event)" [cssImport]=true [disabled]="disable"
                                    [value]="model_no"></ng-select2>
                            </div>
                            <div class="col-md-3">
                                <label class="badge badge-warning font-lable">Model Name</label>
                                <input type="text" [(ngModel)]="model_name" disabled class="form-control"
                                    placeholder="Model Name" name="model_name">
                            </div>
                            <div class="col-3 pt-4">
                                <button type="button" class="btn btn-secondary" (click)=search()>
                                    <i class="fa fa-search"></i> Search
                                </button>
                                <button type="button" class="btn btn-danger" (click)="clear()">
                                    <i class="fa fa-ban"></i>
                                    <span>Clear</span>
                                </button>
                                <button type="button" class="btn btn-success" (click)="exportExcel()">
                                    <i class="fa fa-file-excel-o"></i>
                                    <span>Excel</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div *ngIf="columnName!== undefined && columnName.length > 0">
                    <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;">
                    </highcharts-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true"></ngx-spinner>