<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List Audit Types
          <input type="text" name="search" id="search" [(ngModel)]="text" class="form-control brand-search"
            placeholder="Search" (keyup)="search()">
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="add()"><i
              class="fa fa-plus"></i> Add new</button>
        </div>
        <div class="card-body">
          <ngx-spinner bdOpacity=0.2 bdColor="rgba(51,51,51,0.8)" size="medium" color="#20A8D8" type="pacman">
          </ngx-spinner>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Audit Type ID</th>
                  <th>Brand</th>
                  <th>Audit Type</th>
                  <th>Audit Item</th>
                  <th>Audit Title</th>
                  <th>Version</th>
                  <th>Status</th>
                  <th>Update By</th>
                  <th>Update Time</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of auditTypes;let i = index">
                  <td>{{ (pagination.currentPage - 1) * pagination.itemsPerPage + i + 1 }}</td>
                  <td>{{item.audit_Type_ID}}</td>
                  <td>{{item.brand}}</td>
                  <td>{{item.audit_Type1}}</td>
                  <td>{{item.audit_Type2}}</td>
                  <td>{{item.audit_Type2_Name}}</td>
                  <td>{{item.version}}</td>
                  <td *ngIf="item.status =='1';else elseStatus">Valid</td>
                  <ng-template #elseStatus>
                    <td>Invalid</td>
                  </ng-template>
                  <td>{{item.updated_By}}</td>
                  <td>{{item.updated_Time | date: "MM/dd/yyyy, HH:mm:ss"}}</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm ml-2" (click)="changeToEdit(item)"><i
                        class="fa fa-edit fa-lg"></i></button>
                    <!-- <button type="button" class="btn btn-danger btn-sm" (click)="delete(item)"><i
                        class="fa fa-trash fa-lg"></i></button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex" *ngIf="pagination.totalPages > 1">
            <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
              [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=5>
            </pagination>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

