.title-parent{
    background-color:black;
    text-align: center;
    color : blanchedalmond;
}
.alert-table {
    background-color: #ffc241;
    border-color: #ffbd31;
    text-align: center;
    text-transform: uppercase;
    color: #343a40;
    font-weight: bold;
    margin-bottom: 0;
  }